@import "@/sass/_global.scss";
@import "@/sass/_variables.scss";
.static-page {
  &__content {
    max-width: 70%;
    padding: 2.5rem 2.5rem 1px;
    margin: 0 auto;

    @media (max-width: 420px) {
      min-width: 100%;
      margin: 0;
      padding: 1.5rem 1.5rem 1px;
    }

    @media (max-width: 1400px) {
      min-width: 100%;
      margin: 0;
      padding: 1.5rem 1.5rem 1px;
    }

    .quiz-banner {
      img {
        width: 100%;
      }
    }

    .form {
      .quiz {
        &-question {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $secondary-color;
          padding: 2.5rem 0;

          &:nth-last-child(2) {
            border: 0;
          }

          &:last-child {
            padding-top: 0;
          }

          @media (max-width: 1024px) {
            flex-direction: column;
          }

          &__text {
            font-size: 28px;
            width: 100%;

            @media (max-width: 1024px) {
              font-size: 22px;
            }
            @media (max-width: 420px) {
              font-size: 18px;
              margin-bottom: 1rem;
            }

            span {
              font-size: 14px;
              color: $comment-color;
            }

            &-error {
              color: red;
              font-size: 14px;
              margin-top: 10px;
            }
          }
          input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            height: 30px;
            width: 30px;
            transition: all 0.15s ease-out 0s;
            background: white;
            border: 2px solid $secondary-color;
            border-radius: 50%;
            color: $tertiary-color;
            cursor: pointer;
            display: inline-block;
            outline: none;

            @media (max-width: 420px) {
              height: 25px;
              width: 25px;
              top: 12px;
            }
          }

          &__input {
            width: 100%;

            textarea {
              padding: 0.5rem;
              width: 100%;
              min-height: 100px;
              border-color: $secondary-color;
              font-size: 14px;
              font-family: inherit;
              resize: none;
              outline: none;

              &:focus {
                outline: 2px solid $orange-color;
              }

              @media (max-width: 1024px) {
                margin-top: 0.8rem;
                width: 575px;
              }
              @media (max-width: 420px) {
                width: 270px;
              }
            }

            .quiz__bool {
              display: flex;
              width: 100%;
              justify-content: flex-end;

              &-radio {
                border: 2px solid $secondary-color;
                border-radius: 3px;
                width: 12rem;
                color: $primary-color;
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                position: relative;

                &:focus-within {
                  border-color: $tertiary-color;
                }

                @media (max-width: 420px) {
                  width: 10rem;
                  font-size: 16px;
                }
                @media (max-width: 1024px) {
                  width: 100%;
                  font-size: 20px;
                }

                label {
                  @media (max-width: 420px) {
                    font-size: 18px;
                  }
                }

                input {
                  position: absolute;
                  top: 10px;
                  right: 0;
                  bottom: 0;
                  left: 20px;
                  z-index: 1000;

                  @media (max-width: 420px) {
                    left: 15px;
                  }

                  &:checked {
                    border: 0;
                  }

                  &:checked + label {
                    background: $tertiary-color;
                    color: white;
                  }

                  &:checked::before {
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    content: "✔";
                    display: inline-block;
                    font-size: 26.66667px;
                    text-align: center;
                    line-height: 30px;

                    @media (max-width: 420px) {
                      font-size: 22px;
                      line-height: 28px;
                    }
                  }

                  &:checked::after {
                    background: #40e0d0;
                    content: "";
                    display: block;
                    position: relative;
                    z-index: 100;
                  }
                }

                label {
                  border: 2px solid #e0e0e0;
                  box-sizing: border-box;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  width: 100%;
                  height: 3rem;
                  border: 0;
                }

                &:first-child {
                  margin-right: 24px;
                }
              }
            }
          }
        }
        &__rating {
          display: flex;
          justify-content: flex-end;

          @media (max-width: 1024px) {
            justify-content: space-between;
          }

          &-radio {
            position: relative;
            margin-left: 2rem;

            &:hover {
              cursor: pointer;
            }

            @media (max-width: 1024px) {
              margin-left: 0;
            }

            input[type="radio"] {
              display: none;

              &:checked + label {
                color: white;
                background: $tertiary-color;
              }
            }

            label {
              font-size: 20px;
              font-weight: bold;
              background: white;
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid $secondary-color;
              border-radius: 50%;
              cursor: pointer;

              @media (max-width: 420px) {
                width: 35px;
                height: 35px;
                font-size: 16px;
              }
            }
          }
          .is-selected {
            color: $tertiary-color;

            label {
              border-color: $tertiary-color;
            }
          }
        }
        &__submit {
          padding: 1rem;
          width: 300px;
          font-weight: 700;
          font-size: 18px;
          color: white;
          background: $orange-color;
          border: 0;
          border-radius: 3px;
          letter-spacing: 1px;
          cursor: pointer;

          @media (max-width: 420px) {
            width: 90%;
          }
        }
      }
    }
  }
}
