@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import "@/sass/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  min-width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

#app {
  background: white;
  padding: 1rem 0;

  @media (max-width: 1400px) {
    padding: 0;
  }
}
