<template>
  <base-header />
  <div class="static-page__content">
    <div class="quiz-banner">
      <img src="https://evrika.com/images/quiz.png" alt="короткий опрос" />
    </div>

    <form class="form">
      <quiz-question-boolean
        question="Приобретали ли Вы ранее товары в Evrika?"
        inputIdYes="question_22_1"
        inputIdNo="question_22_2"
        name="question[22]"
        v-bind="was_bought"
        @make-yes="was_bought = true"
        @make-no="was_bought = false"
      >
        <template v-slot:is-error v-if="errors">
          {{ errors.checkWasBought }}
        </template>
      </quiz-question-boolean>

      <quiz-question-boolean
        question="Хотели бы Вы вернуться к нам повторно?"
        inputIdYes="question_23_1"
        inputIdNo="question_23_2"
        name="question[23]"
        v-bind="will_return"
        @make-yes="will_return = true"
        @make-no="will_return = false"
      >
        <template v-slot:is-error v-if="errors">
          {{ errors.checkWillReturn }}
        </template>
      </quiz-question-boolean>

      <quiz-question-rating
        question="Оцените работу продавца-консультанта:"
        :ratings="ratings"
        :score="seller_score"
        @set-rating="setSellerRating"
        inputName="question[25_1]"
        inputId="question_25_1_"
      >
        <template v-slot:is-error v-if="errors">
          {{ errors.checkSeller }}
        </template>
      </quiz-question-rating>

      <quiz-question-rating
        question="Оцените работу кассира:"
        :ratings="ratings"
        :score="cashier_score"
        @set-rating="setCashierRating"
        inputName="question[25_2]"
        inputId="question_25_2_"
      >
        <template v-slot:is-error v-if="errors">
          {{ errors.checkCashier }}
        </template>
      </quiz-question-rating>

      <quiz-question-rating
        question="Насколько Вам приятно рекомендовать нашу компанию своим друзьям или
            знакомым?"
        :ratings="ratings"
        :score="recommendation_score"
        @set-rating="setRecommendRating"
        inputName="question[25_3]"
        inputId="question_25_3_"
      >
        <template v-slot:is-error v-if="errors">
          {{ errors.checkRecommend }}
        </template>
      </quiz-question-rating>

      <div class="quiz-question">
        <div class="quiz-question__text">
          <p>Пожалуйста, оставьте краткий отзыв или ваш комментарий:</p>
          <div class="quiz-question__text-error" v-if="errors">
            {{ errors.checkComment }}
          </div>
        </div>
        <div class="quiz-question__input">
          <div class="quiz__text">
            <textarea
              name="question[27]"
              placeholder="Пожалуйста, оставьте краткий отзыв или ваш комментарий:"
              v-model="comment"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="quiz-question">
        <div></div>
        <button class="quiz__submit" @click.prevent="sendForm">
          Отправить отзыв
        </button>
      </div>
    </form>
  </div>
  <Modal v-if="showModal" @close="showModal = false" />
</template>

<script>
import axios from "axios";
import QuizQuestionBoolean from "./QuizQuestionBoolean.vue";
import QuizQuestionRating from "./QuizQuestionRating.vue";
import BaseHeader from "./BaseHeader.vue";
import { defineAsyncComponent } from "@vue/runtime-core";

const Modal = defineAsyncComponent(() => import("./Modal.vue"));

export default {
  name: "BaseForm",
  components: {
    Modal,
    QuizQuestionBoolean,
    QuizQuestionRating,
    BaseHeader,
  },

  data() {
    return {
      ratings: [1, 2, 3, 4, 5],
      cashier_score: null,
      seller_score: null,
      recommendation_score: null,
      was_bought: null,
      will_return: null,
      comment: null,
      errors: null,
      showModal: false,
      url: null,
    };
  },

  methods: {
    setCashierRating(value) {
      return (this.cashier_score = value);
    },

    setSellerRating(value) {
      return (this.seller_score = value);
    },

    setRecommendRating(value) {
      return (this.recommendation_score = value);
    },

    isEmpty(fieldValue) {
      return !fieldValue ? "Обязательное поле" : null;
    },

    checkForBoolean(fieldValue) {
      return typeof fieldValue !== "boolean" ? "Обязательное поле" : null;
    },

    checkComment(fieldValue) {
      if (fieldValue !== null && fieldValue.length > 500) {
        return "Данное поле должно быть не больше 500 символов";
      } else if (fieldValue !== null && fieldValue.length < 3) {
        return "Данное поле должно быть не меньше 3 символов";
      } else {
        return null;
      }
    },

    hasErrors() {
      !Object.values(this.errors).every((o) => o === null);
    },

    validateForm() {
      let checkWasBought = this.checkForBoolean(this.was_bought);
      let checkWillReturn = this.checkForBoolean(this.will_return);
      let checkSeller = this.isEmpty(this.seller_score);
      let checkCashier = this.isEmpty(this.cashier_score);
      let checkRecommend = this.isEmpty(this.recommendation_score);
      let checkComment = this.checkComment(this.comment);
      const errors = {
        checkWasBought,
        checkWillReturn,
        checkSeller,
        checkCashier,
        checkRecommend,
        checkComment,
      };
      return (this.errors = errors);
    },

    async sendForm() {
      this.validateForm();
      const hasErrors = this.hasErrors();

      if (!hasErrors) {
        try {
          const response = await axios.put(
            `http://10.10.1.48:3245/api/polls/${this.url}`,
            {
              was_bought: this.was_bought,
              will_return: this.will_return,
              seller_score: this.seller_score,
              cashier_score: this.cashier_score,
              recommendation_score: this.recommendation_score,
              comment: this.comment,
            }
          );

          if (response.status == 201) {
            this.showModal = true;
          } else {
            window.location.href = "https://evrika.com/";
          }

          return response;
        } catch (err) {
          console.log(err);
        }
      }
    },

    getHash() {
      var pathArr = window.location.pathname.split("/");
      let hash = pathArr.pop();

      return (this.url = hash);
    },
  },
  mounted() {
    this.getHash();
  },
};
</script>

<style lang="scss">
@import "@/sass/_global.scss";
@import "@/sass/_variables.scss";
@import "@/sass/_form.scss";
</style>
